body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;  
    align-items: center;  
}
    .parallax p{
        color: black;
        font-size: 20px;
    }
.parallax-1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlyxi2UtTpyhak9hBb-ffSp6tX90ACeK66oz9Vz9G4Cu36U-g4PXZQJqQ&s=10');
}
.parallax-2 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn48Lme2zzFmnrGIhMuNtFlLUlp2H-ur3bi4g33TSxvJWCqL1HySsZkmbO&s=10');
}
.content {
    padding: 100px;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    font-size: 50px;
}