* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
}

div {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 32px;
    text-align: center;
    padding: 40px 20px;
}

div:nth-child(1) {
    background-color: rgb(204, 255, 255);
}

div:nth-child(2) {
    background-color: rgb(255, 204, 229);
}